/* Variables */
:root {
  --azul-claro: #3083ff;
  --negro: rgb(0, 0, 0);
  --blanco: #fff;
  --rojo: rgb(255, 0, 0);
}
/* Navbar */
.navbar-contenedor {
  width: 100%;
  height: 4rem;
  background-color: var(--azul-claro);
  overflow: hidden;
}
.titulo-navbar {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: var(--blanco) !important;
  font-family: "Alkalami", serif;
  text-shadow: 0px 5px 20px #000000;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.texto--carrousel {
  font-size: 2.5rem;
}
.sub-texto--carousel {
  font-size: 1.9rem;
}

/* Carousel */
.texto-carousel__contenedor {
  top: 25%;
}
.texto-carousel__contenido {
  text-shadow: 1.5px 2px 0px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  padding: 2rem;
}
.imagen--carousel {
  width: 100%;
}

/* Quienes Somos */
.quienes-somos--contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  text-align: center;
}
.quienes-somos--texto {
  font-family: "Alkalami", serif;
  color: var(--rojo);
  font-size: 3rem;
}
.quienes-somos--sub-texto {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

/* Aside de imagenes */
.contenedor--img-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.aside--volquete__img {
  width: 100%;
  height: 56.33vh;
  object-fit: contain;
  overflow: hidden;
}
.aside--baño-quimico__img {
  width: 100%;
  height: 56.33vh;
  object-fit: contain;
  overflow: hidden;
}

/* Media querys */
@media (max-width: 840px) {
  .texto-carousel__contenedor {
    top: 15%;
  }
  .texto--carrousel {
    font-size: 2rem;
  }
  .sub-texto--carousel {
    font-size: 1.5rem;
  }
  .aside--volquete__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  .aside--baño-quimico__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}
@media (max-width: 620px) {
  .texto-carousel__contenedor {
    top: 5%;
  }
  .texto--carrousel {
    font-size: 1.5rem;
  }
  .sub-texto--carousel {
    font-size: 1rem;
  }
  @media (max-width: 478px) {
    .texto-carousel__contenedor {
      top: 5%;
    }
    .titulo-navbar {
      font-size: 1.5rem;
    }
    .texto--carrousel {
      font-size: 0.9rem;
    }
    .sub-texto--carousel {
      font-size: 0.7rem;
    }
  }
}
