@font-face {
  font-family: "Alkalami", serif;
  src: url(fuentes/alkalami-regular.woff2) format("woff2"),
    url(fuentes/alkalami-regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab", serif;
  src: url(fuentes/robotoslab-regular.woff2) format("woff2"),
    url(fuentes/robotoslab-regular.woff) format("woff");
  font-display: swap;
}
/* Variables */
:root {
  --negro: rgb(0, 0, 0);
  --blanco: rgb(255, 255, 255);
  --rojo: rgb(255, 0, 0);
  --verde: #25d366;
}
/* Whatsapp Icono */
.float {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: var(--verde);
  color: var(--blanco);
  border-radius: 3.125rem;
  text-align: center;
  font-size: 2.3rem;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  overflow: hidden;
}
.float:hover {
  text-decoration: none;
  color: var(--verde);
  background-color: var(--blanco);
}

.my-float {
  margin-top: 0rem;
}
.separador--negro {
  width: 100%;
  height: 0.2rem;
  background-color: var(--negro);
}

/* Navbar */
.position-relative__media-query {
  background-color: rgba(0, 0, 0, 0.733) !important;
  height: 3em;
  display: flex;
  justify-content: center;
}
.titulo-navbar {
  position: absolute;
  transform: translatex(-50%);
  color: var(--rojo) !important;
  font-family: "Alkalami", serif;
  text-shadow: 0.1px 0.1px 1px var(--blanco);
  font-size: 2.5em;
}
nav {
  width: 100%;
  overflow: hidden;
}

.navbar__home {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* Carousel */
.carousel-contenedor {
  width: 100vh;
}
.imagen--carousel {
  width: 100vw;
  height: 51vw;
  object-fit: cover;
}
.texto-carousel__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}
.texto-carousel__contenido {
  text-shadow: 1.5px 2px 0px var(--negro);
  border-radius: 0.5rem;
  padding: 2rem;
}
.texto--carrousel {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  text-shadow: 3px 3px 1px var(--negro);
}
.sub-texto--carousel {
  font-family: "Roboto Slab", serif;
  font-size: 2em;
  text-shadow: 3px 1px 1px var(--negro);
}

/* Quienes Somos */
.quienes-somos--contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 10vh;
  text-align: center;
  overflow: hidden;
}
.quienes-somos--texto {
  font-family: "Alkalami", serif;
  color: var(--rojo);
  font-size: 3em;
  font-weight: 600;
  text-shadow: 1px 1px 1px var(--negro);
  margin-top: 10vh;
}
.quienes-somos--sub-texto {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 10vh;
}

/* Aside de imagenes */
.aside-contenedor-texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
}
.aside--titulo {
  font-family: "Alkalami", serif;
  color: var(--rojo);
  font-size: 3em;
  font-weight: 600;
  text-shadow: 1px 1px 1px var(--negro);
  margin-top: 3rem;
}
.aside-sub-texto {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 4rem;
}
.contenedor--img-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.aside--volquete {
  position: relative;
  display: inline-block;
  text-align: center;
}
.aside--baño-quimico {
  position: relative;
  display: inline-block;
  text-align: center;
}
.aside--volquete__img {
  width: 100%;
  height: 56.33vh;
  object-fit: contain;
  overflow: hidden;
  filter: grayscale(0.8);
}
.aside--baño-quimico__img {
  width: 100%;
  height: 56.3vh;
  object-fit: contain;
  overflow: hidden;
  filter: grayscale(0.8);
}
.aside--volquete__img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.aside--baño-quimico__img:hover {
  filter: grayscale(0);
  transform: scale(1.01);
}
.aside--texto {
  font-family: "Alkalami", serif;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 5px var(--negro);
  color: var(--blanco);
}
.aside--texto:hover {
  color: var(--rojo);
}

/* Carousel 2 */
.carousel--contenedor-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--blanco);
  overflow: hidden;
}
.carousel--contenedor-2 {
  display: flex;
  margin-bottom: 20vh;
}
.contenedor-imagenes-carousel-2 {
  display: flex;
}
.contenedor-texto-carousel-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.carousel-2--titulo {
  font-family: "Alkalami", serif;
  color: var(--rojo);
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px var(--negro);
  font-size: 3em;
  padding-top: 3rem;
}
.carousel-2--sub {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 2em;
  padding-bottom: 4rem;
}
.carousel--contenedor-2__img {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}
.imagen--carouse-2 {
  object-fit: cover;
  width: 35vh !important;
  height: 35vh !important;
  margin: 1rem 1.5rem;
  border: black 1px solid;
}
.imagen--carouse-2:hover {
  transform: scale(1.1);
}
.flecha-izquierda,
.flecha-derecha {
  width: 2rem;
  height: auto;
  margin-top: 14rem;
  overflow: hidden;
}
.flecha-derecha {
  width: 2rem;
  margin-left: 5rem;
}
.flecha-izquierda {
  margin-right: 5rem;
}
.carousel-control-next {
  overflow: hidden;
}

/* Footer */
.footer--logo {
  width: 12rem;
}
.footer__links--whatsapp {
  display: flex;
  text-decoration: none;
  color: black;
  margin-bottom: 2rem;
}
.footer--whatsapp__logo {
  width: 2em;
}
.footer--iconos__texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer--Copyright {
  margin-top: 5rem;
}

/* Media querys */
@media (max-width: 840px) {
  .texto-carousel__contenedor {
    top: 35%;
  }
  .texto--carrousel {
    font-size: 2.5em;
  }
  .sub-texto--carousel {
    font-size: 1.5em;
  }
  .contenedor--img-aside {
    flex-direction: column;
  }
  .aside--volquete__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    filter: grayscale(0);
  }
  .aside--baño-quimico__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    filter: grayscale(0);
  }
  .carousel--contenedor-2__img {
    flex-direction: column !important;
  }
  .imagen--carouse-2 {
    object-fit: cover;
    width: 30vh !important;
    height: 30vh !important;
  }
  .flecha-izquierda,
  .flecha-derecha {
    margin-right: 0rem;
  }
  .flecha-derecha {
    margin-left: 0rem;
  }
}
@media (max-width: 767px) {
  .footer--contenedor__iconos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 620px) {
  .position-relative__media-query {
    height: 2em;
  }
  .titulo-navbar {
    font-size: 1.5em;
  }
  .texto--carrousel {
    font-size: 2em;
  }
  .sub-texto--carousel {
    font-size: 1.5em;
  }
}
@media (max-width: 478px) {
  .float {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    right: 1rem;
  }

  .texto--carrousel {
    font-size: 1.3em;
  }
  .sub-texto--carousel {
    font-size: 1em;
  }
}
